.contents-container {
  position: relative;

  width: 1000px;
  margin: 0 auto;

  text-align: center;
  font-family: sans-serif;
}

.gamepadHeadline {
  height: 42px;
  font-family: monospace;
}

.buttons-container {
  position: relative;
  top: -50px;
}

.gamepadImg {
  position: relative;
  top: 78px;
  left: -5px;
}


.btn {
  position: absolute;
  display: block;

  border: 10px solid pink;
  background: white;
}

.btnCircle {
  height: 24px;
  width: 24px;

  border-radius: 50%;
  padding: 14px 10px 6px 10px;
}

#a {
  left: 705px;
  top: 340px;
  border-color:green;
}
#b {
  left: 776px;
  top: 272px;
  border-color:red;
}
#x {
  left: 636px;
  top: 272px;
  border-color:blue;
}
#y {
  left: 705px;
  top: 204px;
  border-color:yellow;
}


.bumperRect, .triggerRect {
  border-radius:15%;
  border-color: orange;
}

.bumperRect {
  height: 24px;
  width: 100px;

  padding-top: 6px;
}

.triggerRect {
  height: 40px;
  width: 45px;
  padding-top: 20px;
}

#rb, #lb { top: 135px; }
#rb { left: 690px; }
#rt { left: 745px; }
#lb, #lt { left: 160px; }
#rt, #lt { top: 50px; }
#rb { border-bottom-right-radius: 50%; }
#rt { border-top-right-radius: 50%; }
#lb { border-bottom-left-radius: 50%; }
#lt { border-top-left-radius: 50%; }

.btnCenter {
  height: 45px;
  width: 75px;
  padding-top: 28px;
  
  left: 433px;
  top: 264px;

  border: 10px green dashed;
  border-radius: 50%;
}

.btnCenterSide {
  height: 18px;
  width: 40px;
  padding-top:2px;

  top: 290px;
  border-color: grey;
}
#back {
  left: 350px;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
}
#start {
  left: 550px;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
}

.arrow {
  border-color: grey;
}

.arrowUD {
  top: 390px;
  left: 320px;

  width: 20px;
  height: 28px;
}

#up {
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
}
#down {
  top: 485px;

  height: 22px;
  padding-top: 6px;

  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
}

.arrowLR {
  top: 440px;
  left: 270px;

  width: 28px;
  height: 20px;
}

#left {
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
}
#right {
  left: 365px;

  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
}

.stickBtn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 20px;

  border: 10px grey dashed;
}

#l3 { 
  left: 179px;
  top: 265px;
}
#r3 { 
  left: 561px;
  top: 417px;
}


/* Must go last for specificity reasons. */
.btnDown {
/*  display: block;*/
  background: rgb(255, 175, 120);
}
.btnHold {
  background: rgb(255, 0, 0);
}



.stickCirc {
  position: absolute;
  display: block;
  height: 100px;
  width: 100px;

  border-radius:50%;

  border: 1px solid red;
  background: rgba(255,255,255,0.3);
}

#lCirc {
  top: 254px;
  left: 168px;
}

#rCirc {
  top: 408px;
  left: 550px;
}

.crosshairContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 10px;
  height: 10px;
  margin: 0;

}
.crosshair {
  position: relative;
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);

  display:block;
  height: 10px;
  width: 10px;
  margin: 0;


/*  border:2px solid red;*/
  border-radius: 50%;
  background: red;
  color: white;

  text-align: center;
  line-height: 10px;
  font-size: 10px;

  transform: translate(0,0);
}